.layout_hombre {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "ASIDE  CONTENT";
  grid-template-columns: 311px 1fr;
}

.aside {
  grid-area: ASIDE;
  padding: 25px 40px 10px 10px;

  .title {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .list {
    margin-top: 16px;

    .item {
      font-weight: 100;
      margin-top: 10px;
      font-size: 0.8rem;
      color: #0000008d;
    }
  }

  .separador {
    margin: 20px 0;
  }
  .item {
    font-weight: 100;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #0000008d;
    text-align: justify;
  }
}

.content {
  padding: 60px 0;
  grid-area: CONTENT;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  gap: 14px;
  //   margin: 20px 0;
}
