.content_body {
  height: 100px;
}

.descripcion {
  max-width: 450px;
  text-align: left;
  padding: 0 10px;

  .img_pro {
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    p {
      margin-left: 10px;
    }
  }
}
.price {
  text-align: center;
}
.cantidad {
  text-align: center;

  .changeBtn {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #ccc;
  }

  .input {
    width: 38px;
    height: 32px;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.accion {
  text-align: center;

  .btn_delete {
    outline: none;
    border: none;
    color: red;
    font-size: 1rem;
    cursor: pointer;
  }
}
