

.aside {
  grid-area: ASIDE;
  padding: 25px 40px 10px 10px;

  .title {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .list {
    margin-top: 16px;

    .item {
      font-weight: 100;
      margin-top: 10px;
      font-size: 0.8rem;
      color: #0000008d;
    }
  }

  .separador {
    margin: 20px 0;
  }
  .item {
    font-weight: 100;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #0000008d;
    text-align: justify;
  }


  @media screen and (max-width: 690px) {
    display: none;
    
  }
}

