.cartItem {
  // margin-top: 22px;
  background-color: white;
  vertical-align: middle;
  overflow: hidden;
  padding: 2px;
  //   position: relative;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 4px;
  // max-width: 550px;
}

.cartItem:hover {
  cursor: pointer;
}

.cartItem:hover img {
  transform: scale(1.05);
  transition: all ease 0.4s;
}

.div_img {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e6;
  padding: 2px;
  position: relative;

  .img_item {
    margin: 0 auto;
    max-height: 270px;
    object-fit: contain;
  }

  .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    // overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  background-color: white;
  margin-top: auto;
  height: 34px;

  .data_producto {
    display: flex;

    .marca {
      font-size: 0.85rem;
      font-weight: bold;
      margin-right: 10px;
    }
    .price {
      color: #b12704;
      font-size: 0.85rem;
      font-weight: bold;
    }
  }


  .btn_add {
    background-color: #212a2f;
    outline: none;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
}
