.footer {
  display: flex;
  justify-content: center;
  background: #000;

  .content_footer {
    max-width: var(--desktop-lg);
    width: 100%;

    .div_link {
      padding: 20px 0px 10px 0px;
      color: white;
      display: flex;
      justify-content: space-between;

      .link {
        display: flex;
        gap: 30px;
        .item {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .item_footer {
      color: white;
      display: grid;
      place-items: center;
      height: 35px;
    }
  }
}
